name: Docker Image CI for Code Runner Image

on:
    push:
        branches:
            - main

env:
    REGISTRY: ghcr.io
    IMAGE_NAME: manangandhi1810/code-runner

defaults:
    run:
        working-directory: code-runner

jobs:
    build_and_publish:
        if: (github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, '[code-runner]') || contains(github.event.head_commit.message, '[all]')) && github.repository_owner == 'MananGandhi1810'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Log in to the Container registry
              uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build and Push Docker Image
              uses: docker/build-push-action@v5
              with:
                  context: ./code-runner
                  platforms: linux/amd64, linux/arm64
                  push: true
                  tags: |
                      ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
                      ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
                  cache-from: type=gha
                  cache-to: type=gha,mode=max
